* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
  font-size: 25px;
}
.hero {
  padding: 20px;
}
h1 {
  font-size: 50px;
  text-align: center;
}
button {
  border-radius: 15px;
  width: 60px;
  height: 40px;
  background-color: transparent;
}
div {
  padding: 10px;
}
