* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 25px;
  text-align: left;
}
.hero {
  height: 100vh;
}
div {
  padding: 10px;
  background-color: #a8d0e6;
}
h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  height: 100px;
  background-color: #374785;
  padding-top: 2%;
}
button {
  border-radius: 15px;
  width: 60px;
  height: 40px;
  background-color: transparent;
  text-align: center;
}
tr,
th,
td {
  padding: 20px;
}
.notButton {
  width: 275px;
}
